  /* CveTable Styles */
  .table-container {
	width: 100%;
	padding: 20px;
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  thead {
	background-color: #f9f9f9;
  }
  
  th,
  td {
	padding: 12px;
	text-align: left;
  }
  
  th {
	font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
	background-color: #f5f5f5;
  }
  


/* Pagination Styles */
  .pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
  }
  
  .pagination button,
  .pagination span.page-info {
	margin: 0 5px;
	padding: 8px 12px;
	background-color: #eee;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
  }
  
  .pagination button.active {
	background-color: #ccc;
  }
  
  .pagination button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
  }
  
  
  .pagination .ellipsis {
	margin: 0 5px;
	font-size: 14px;
  }
  
  .pagination button:first-child {
	margin-right: 5px;
  }
  
  .pagination button:last-child {
	margin-left: 5px;
  }
  

  h2 {
	font-size: 28px;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin-bottom: 110px;
  }
  
  th {
	font-weight: bold;
	text-align: center;
	background-color: #f2f2f2;
	padding: 10px;
  }
  
  .cve-id-column {
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .ref-column {
	width: 40px;
	
  }
  
  .tag-cloud {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
  }
  
  .tag-cloud-tag {
	display: inline-block;
	font-size: 14px;
	padding: 8px 16px;
	margin: 5px;
	background-color: #F2F2F2;
	color: #333333;
	border-radius: 20px;
	transition: background-color 0.3s ease;
  }
  
  .tag-cloud-tag:hover {
	background-color: #333333;
	color: #FFFFFF;
	cursor: pointer;
  }
  
  .search-input {
	width: 300px;
	border-radius: 20px;
	padding: 10px;
	transition: box-shadow 0.3s ease-in-out;
	margin-bottom: 15px;
  }
  
  .search-input:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 0.8);
  }

  .cve-table {
	/* Rest of the styles... */
	position: relative;
  }
  
  .skeleton-table {
	/* Skeleton table styles */
	width: 100%;
	background-color: #f5f5f5;
	border-collapse: collapse;
  }
  
  .skeleton-row {
	/* Skeleton row styles */
	display: flex;
  }
  
  .skeleton-cell {
	/* Skeleton cell styles */
	flex: 1;
	height: 20px;
	margin: 8px;
	background-color: #e0e0e0;
	border-radius: 4px;
  }
  
  /* Add animation to create a loading effect */
  @keyframes skeleton-loading {
	0% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0 50%;
	}
  }
  
  .skeleton-cell::after {
	/* Animation styles */
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
	background-repeat: no-repeat;
	background-size: 200% 100%;
	animation: skeleton-loading 1.5s infinite;
  }


  /* cve metrics*/
  .cvss-score {
	padding: 5px;
	border-radius: 3px;
	font-weight: bold;
  }
  
  .cvss-score.green {
	background-color: green;
	color: white;
  }
  
  .cvss-score.red {
	background-color: red;
	color: white;
  }
  .cvss-score.na {
	background-color: black;
	color: white;
  }

  #footer-pages {
	background-image: linear-gradient(to left, hsl(211, 46%, 59%), #3838c8);
	color: #fff;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-top: 80px;
}



.highlighted {
    background-color: yellow;
    font-weight: bold;
  }
  